[submodule "docker/src/main/resources/config"]
	path = docker/src/main/resources/config
	url = https://github.com/Youngerjesus/config.git
[submodule "src/main/resources/config"]
	path = src/main/resources/config
	url = https://github.com/Youngerjesus/config.git
