@font-face {
  font-family: 'hanna';
  src: url(/fonts/BMHANNAPro.otf) format('woff2');
}

@font-face {
  font-family: 'hannaair';
  src: url(/fonts/BMHANNAAir.otf) format('woff2');
}

@font-face {
  font-family: 'euljiro';
  src: url(/fonts/BMEULJIRO.otf) format('woff2');
}

@font-face {
  font-family: 'jua';
  src: url(/fonts/BMJUA.otf) format('woff2');
}

.font-bamin {
  font-family: hanna, 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo' !important;
}

.font-hanna {
  font-family: hanna, 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo' !important;
}

.font-hannaair {
  font-family: hannaair, 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo' !important;
}

.font-euljiro {
  font-family: euljiro, 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo' !important;
}

.font-jua {
  font-family: jua, 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo' !important;
}

.font-bamin-light {
  font-family: hannaair, 'Noto Sans KR', 'Roboto', sans-serif, 'Apple SD Gothic Neo' !important;
}
